@import "reset";
@import 'mixin';


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    scroll-behavior: smooth;
}

$main-light-color: #fff;
$main-gray-color: #898989;
$secondary-gray-color: #727272;
$main-dark-color: #242424;
$secondary-dark-color: #3A3A3A;
$light-color: #FAF3EA;
$main-brown-color: #B88E2F;
$black-color: #000;
$gray: #9f9f9fb3;

@mixin font($bg-color: "", $f-size, $f-style, $f-height: 24px){
    @if $bg-color == "dark"{
        color: $main-dark-color;
    }@else if $bg-color == "s-dark"{
        color: $secondary-dark-color;
    }@else if $bg-color == "light"{
        color: $main-light-color;
    }@else if $bg-color == "s-grey"{
        color: $secondary-gray-color;
    }@else if $bg-color == "grey"{
        color: $main-gray-color;
    }@else if $bg-color == "brown"{
        color: $main-brown-color;
    }@else{
        color: $black-color;
    }
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: $f-size;
    font-style: $f-style;
    line-height: $f-height;
}
@mixin button($padding, $bg-color, $border){
    padding: $padding;
    @if $bg-color == "light"{
      color: $main-light-color;
      background-color: $main-brown-color;
    }@else if $bg-color == "dark"{
        color: $main-dark-color ;
        background-color: $light-color;
    }@else if $bg-color == "brown"{
        color: $main-brown-color;
        background-color: $main-light-color;
    }border: $border;
}
.close{
    display: none;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    width: 100%;
    background-color: #ebebea;
}
.nav{
    background-color: #fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    .nav__menu{
        display: flex;
        gap: 75px;
        a{
            @include font(#000, 16px, -style, -height);
            text-decoration: none;
            font-weight: 500;
        }
        a:hover{
            color: #B88E2F;
        }
    }
    .nav__icons{
        display: flex;
        align-items: center;
        gap: 45px;
    }
}
.hero{
    max-width: 1440px;
    margin: auto;
    background-image: url(../images/home-img.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 716px;
    margin-bottom: 80px;
    .hero__title{
        padding-top: 153px;
        padding-bottom: 200px;
        padding: 62px 56px 37px 40px;
        position: absolute;
        right: 5%;
        top: 26%;
        background-color: #fff3e3;
        strong{
            @include font("", 16px, 3px, -height);
            font-weight: 600;
        }
        h1{
            @include font("brown", 52px, -style, 65px);
            font-weight: 700;
            max-width: 559px;
            margin: 4px 0 17px 0;
        }
        p{
            @include font("", 18px, -style, 24px);
            font-weight: 500;
            max-width: 546px;
        }
        .button{
            margin-top: 46px;
            @include font("light", 16px, -style, -height);
            font-weight: 700;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            @include button(25px 72px, "light", 2px solid transparent);
        }
        .button:hover{
            @include button(25px 72px, "brown", 2px solid $main-brown-color);
        }
    }
}

main{
    width: 100%;

    .home__title{
        text-align: center;
        margin-bottom: 50px;
        h2{
            @include font($main-dark-color, 32px, -style, -height);
            font-weight: 700;
        }
        p{
            @include font("s-grey", 20px, -style, -height);
            margin-top: 5px;
        }
    }

    .browse__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        margin-bottom: 50px;
        gap: 50px 50px;
        .browse__card{
            text-align: center;
            img{
                border-radius: 10px;
            }
            strong{
                @include font($main-dark-color, 24px, -style, -height);
                display: block;
                margin-top: 20px;
                font-weight: 600px;
            }   
        }
    }

    h2{
        text-align: center;
        margin-bottom: 50px;
        @include font($secondary-dark-color, 32px, -style, -height);
        font-weight: 700;
    }

    .shop__cards{
        margin-top: 100px;
        padding: 0 30px;
        gap: 50px 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        .shop__card{
            position: relative;
            max-width: 285px;
            background-color: #f4f5f7;
            margin-bottom: 85px;
            transition: 0.5s;
            transform: scale(1);
            ul{
                padding: 16px 16px 30px 16px;
                p{
                    @include font($secondary-dark-color, 24px, -style, 120%);
                    font-weight: 600;
                }
                li{
                    @include font("grey", 16px, -style, 150%);
                    font-weight: 500;
                    padding: 8px 0;
                }
                strong{
                    display: inline-block;
                    @include font($secondary-dark-color, 20px, -style, 150%);
                    font-weight: 600;
                }
                del{
                    @include font("s-grey", 16px, -style, 150%);
                    margin-left: 8px;
                }
            }
        }

        .productadd__cart{
            display: none;
            position: absolute;
            width: 252px;
            margin: auto;
            text-align: center;
            padding: 175px 20px;
            box-sizing: border-box;
            a{
                @include font("brown", 16px, "", 150%);
                @include button(12px 50px, "brown", none);
                text-decoration: none;
                font-weight: 600px;
                display: inline-block;
            }
            .productadd__card--item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 24px;   
                // gap: 20px;
                box-sizing: border-box;
                ul{
                    display: flex;
                    align-items: center;
                    gap: 2px;
                    // max-width: 10px;
                    margin-left: -15px;
                    strong {
                        @include font("light", 16px, "", 24px);
                        font-weight: 600;
                    }
                }
            }
        }

        .shop__card:hover{
            transform: scale(1.1);

        }

        .shop__card:hover .productadd__cart{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: block;
            background-color: rgba(51, 51, 51, 0.85);
            opacity: 1;
            
            // transform: scale(1.1);
        }

    }

    .home__product{
        text-align: center;
        margin-bottom: 80px;
        a{
            @include button(12px 74px, "brown", 2px solid $main-brown-color);
            @include font("brown", 16px, -style, 150%);
            font-weight: 600;
            text-decoration: none;
        }
        a:hover{
            color: #fff;
            background-color: #B88E2F;
        }
    }

    .bt__wrapper{
        background-color: $light-color;
        .bt__rooms{
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr;
            align-items: center;
            .bt__room__title{
                text-align: left;
                h2{
                    @include font("s-dark", 40px, -style, 120%);
                    font-weight: 700;
                    max-width: 422px;
                    text-align: left;
                }
                p{
                    @include font("grey", 16px, -style, 150%);
                    font-weight: 600;
                    max-width: 368px;
                }
                a{
                    @include font("light", 16px, -style, 150%);
                    font-weight: 600;
                    text-decoration: none;
                    display: inline-block;
                    margin-top: 25px;
                    @include button(12px 36px, "light", 2px solid transparent);
                }
                a:hover{
                    @include button(12px 36px, "brown", 2px solid $main-brown-color);
                }
            }

            .bt__rooms__img{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 44px 0;
                // width: 70%;
                swiper-container {
                    width: 400px;
                    height: 582px;
                  }
              
                  swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
              
                  swiper-slide img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
              
                  swiper-container {
                    margin-left: auto;
                    margin-right: auto;
                  }
            }


        }





    }


    


}

footer{
    width: 100%;
    border-top: 1px solid #d9d9d9;
    padding: 50px 0;
    .footer__nav{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #d9d9d9;
        .footer__menu{
            flex-grow: 1;
            h3{
                @include font("black", 24px, -style, -height);
                margin-bottom: 50px;
                font-weight: 700;
            }
            p{
                @include font($gray, 16px, -style, 24px);
                margin-bottom: 50px;
                max-width: 285px;
            }
            li{
                @include font("black", 16px, -style, -height);
                font-weight: 500;
                margin-bottom: 46px;
            }
            .inpb{
                display: flex;
                gap: 11px;
                input{
                    @include font("s-grey", 14px, -style, -height);
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #000;
                }
                button{
                    @include font("balck", 14px, -style, -height);
                    font-weight: 500;
                    border: none;
                    background-color: transparent;
                    border-bottom: 1px solid #000;
                }

            }
        }
    }
    p{
        @include font("black", 16px, -style, -height);
        margin: 40px 0;
    }
}



@media screen and (max-width: 1450px) {
.hero{
    background-position: bottom;
}

    main{
        .browse__cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            margin-bottom: 50px;
            gap: 50px 50px;
            .browse__card{
                text-align: center;
                img{
                    border-radius: 10px;
                }
                strong{
                    @include font($main-dark-color, 24px, -style, -height);
                    display: block;
                    margin-top: 20px;
                    font-weight: 600px;
                }   
            }
        }
    
        h2{
            text-align: center;
            margin-bottom: 50px;
            @include font($secondary-dark-color, 32px, -style, -height);
            font-weight: 700;
        }
   
        .shop__cards{
            margin-top: 100px;
            padding: 0 30px;
            gap: 50px 30px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .shop__card{
                position: relative;
                max-width: 285px;
                background-color: #f4f5f7;
                margin-bottom: 85px;
                transition: 0.5s;
                transform: scale(1);
                ul{
                    padding: 16px 16px 30px 16px;
                    p{
                        @include font($secondary-dark-color, 24px, -style, 120%);
                        font-weight: 600;
                    }
                    li{
                        @include font("grey", 16px, -style, 150%);
                        font-weight: 500;
                        padding: 8px 0;
                    }
                    strong{
                        display: inline-block;
                        @include font($secondary-dark-color, 20px, -style, 150%);
                        font-weight: 600;
                    }
                    del{
                        @include font("s-grey", 16px, -style, 150%);
                        margin-left: 8px;
                    }
                }
            }
    
            .productadd__cart{
                display: none;
                position: absolute;
                width: 252px;
                margin: auto;
                text-align: center;
                padding: 175px 20px;
                box-sizing: border-box;
                a{
                    @include font("brown", 16px, "", 150%);
                    @include button(12px 50px, "brown", none);
                    text-decoration: none;
                    font-weight: 600px;
                    display: inline-block;
                }
                .productadd__card--item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 24px;   
                    // gap: 20px;
                    box-sizing: border-box;
                    ul{
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        // max-width: 10px;
                        margin-left: -15px;
                        strong {
                            @include font("light", 16px, "", 24px);
                            font-weight: 600;
                        }
                    }
                }
            }
    
            .shop__card:hover{
                transform: scale(1.1);
    
            }
    
            .shop__card:hover .productadd__cart{
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                display: block;
                background-color: rgba(51, 51, 51, 0.85);
                opacity: 1;
                
                // transform: scale(1.1);
            }
    
        }
    
        .home__product{
            margin-bottom: 80px;
            padding: 0;
            a{
                @include button(12px 74px, "brown", 2px solid $main-brown-color);
                @include font("brown", 16px, -style, 150%);
                font-weight: 600;
                text-decoration: none;
            }
            a:hover{
                color: #fff;
                background-color: #B88E2F;
            }
        }
    
        .bt__wrapper{
            background-color: $light-color;
            .bt__rooms{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                align-items: center;
                .bt__room__title{
                    text-align: left;
                    h2{
                        @include font("s-dark", 40px, -style, 120%);
                        font-weight: 700;
                        max-width: 422px;
                        text-align: left;
                    }
                    p{
                        @include font("grey", 16px, -style, 150%);
                        font-weight: 600;
                        max-width: 368px;
                    }
                    a{
                        @include font("light", 16px, -style, 150%);
                        font-weight: 600;
                        text-decoration: none;
                        display: inline-block;
                        margin-top: 25px;
                        @include button(12px 36px, "light", 2px solid transparent);
                    }
                    a:hover{
                        @include button(12px 36px, "brown", 2px solid $main-brown-color);
                    }
                }
    
                .bt__rooms__img{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding: 44px 0;
                    // width: 70%;
                    swiper-container {
                        width: 400px;
                        height: 582px;
                      }
                  
                      swiper-slide {
                        text-align: center;
                        font-size: 18px;
                        background: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      }
                  
                      swiper-slide img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                      }
                  
                      swiper-container {
                        margin-left: auto;
                        margin-right: auto;
                      }
                }
    
    
            }
    
    
    
    
    
        }
    
    
        
    
    
    }
}


@media screen and (max-width: 1250px) {
    .swipr{
        display: none;
    }


}


@media screen and (max-width: 960px) {


    main{
        .browse__cards{
            grid-template-columns: 1fr;
        }
        .shop__cards{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .close{
        display: flex;
        border: none;
        padding: 10px 15px;

    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
        
        .nav__menu{
            display: none;  
            gap: 75px;
            a{
                @include font(#000, 16px, -style, -height);
                text-decoration: none;
                font-weight: 500;
            }
            a:hover{
                color: #B88E2F;
            }
        }
        .nav__icons{

            display: flex;
            align-items: center;
            display: none;
            gap: 45px;
        }
    }

}


@media screen and (max-width: 850px) {
    main{
        .bt__wrapper{
            .bt__rooms{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                .bt__rooms__img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}



@media screen and (max-width: 700px) {
    main{
        .shop__cards{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }
}